/*############            HEADER            #################*/

#contenedor {
  width: 70%;
  margin-left: 15%;
  font-size: 68.75% !important;
  font-family: verdana, arial, geneva, helvetica, sans-serif !important;
}

.cabecera {
  margin-bottom: 1em;
}
.superior {
  height: 15px;
  background: none !important;
  background-color: #666666 !important;
}
.saltoContenido {
  color: white;
  font-size: 1.05em;
}
.central {
  background-color: #ebebeb;
}
.cabLogo {
  background: url("./assets/img/cab2.jpg") top left no-repeat;
  height: 10em;
}
.alignR {
  text-align: right;
}
.traductor {
  background-color: #fff;
  border: 1px solid #d5d5d5;
  font-size: 1.2em;
  display: inline-block;
  padding: 2px;
  cursor: pointer;
}
.img {
  width: 1.2em;
}

.triengle {
  border-left: 1px solid rgb(187, 187, 187);
  color: rgb(118, 118, 118);
}

fieldset,
img {
  border: none;
}

/*############            CENTRAL            #################*/
.separacion5em {
  width: 100%;
  height: 0.5em;
  clear: both;
}

.buscIntCab {
  float: left;
  width: 100%;
  background-color: #305880;
}
.buscIntCabTexto {
  padding: 1em;
  margin-top: 0.2em;
  float: left;
  margin-bottom: 0.2em;
  margin-left: 0.45em;
  width: 81%;
  margin: auto 0 auto 1em;
  letter-spacing: 0.1em;
  max-width: 430px;
}
.letraBlancaBold {
  color: white;
  font-size: 100% !important;
}
.buscIntCabTextoHelp {
  width: auto;
  margin: auto 0.5em;
  float: right;
}
.buscIntCamposEv2 {
  border-top: #ffffff 0.2em solid;
  float: left;
  width: 100%;
  border-bottom: #ffffff 0.3em solid;
}
.buscIntCamposEvPub {
  background: #ced7de no-repeat right 50%;
}
.buscIntCamposLinea {
  float: left;
  width: 100%;
  height: auto;
}
.cuadroBlanco98por {
  float: left;
  padding-left: 1em;
  margin-top: 1em;
  margin-left: 1em;
  width: 94%;
  border: solid 1px #eeeeee;
}
.cuadroBlanco98por div {
  float: left;
}
.sinBorde {
  border: 0 !important;
}
.saltobr {
  height: 0.2em;
  clear: both;
  width: 100%;
  float: none !important;
}
.cuadroBlanco98porPaso2 {
  padding-bottom: 1.2em;
}
.campoNombre {
  padding-right: 0.5em;
  padding-left: 1.5em;
  float: left;
  padding-top: 0.9em;
  height: auto;
  width: 35%;
}
.campoNombre,
.campoApellidos {
  margin-left: 4%;
  margin-right: 1%;
}

.campoNombre label {
  display: block;
}
input[type="text"] {
  width: 85%;
  margin-bottom: 10px;
}

.buscIntCamposEvProvInput2 {
  margin-top: 0.2em;
  font-size: 1em;
  color: #000000;
}
.campoApellidos {
  padding-right: 0.5em;
  padding-left: 1.5em;
  float: left;
  padding-top: 0.9em;
  height: auto;
  width: 35%;
}

.buscIntCamposBuscar {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  float: right;
  background-color: #ced7de;
}
.botonSINimgen {
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;

  float: right;
  font-size: 1em;
  background-image: url("./assets/img/bot_n.gif");
  width: 86px !important;
  cursor: pointer !important;
  color: white;
  height: 21px;
  background-color: transparent;
  margin-right: 0.5em;
  padding-top: 2px;
}

.margin {
  margin-bottom: 1.2em;
}

/*############            CAROUSEL            #################*/

.margin-carouselSuperior {
  width: 40%;
  margin-left: 21%;
  margin-bottom: 50px;
  margin-top: -1%;
}

.small-box {
  flex: 0 0 24%;
  margin: 0 1% 1em 0;
  display: flex;
  align-items: center;
  margin-left: 5%;
  border: 7px solid #f3f3f3;
  padding: 1em;
}

.small-box .procedure-image img {
  width: 70px;
}

.procedure-link {
  color: #125d82 !important;
}
.link {
  color: #004488;
  font-weight: bold;
  font-size: 1.2em;
}

.carousel {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 4em;
  background-color: white;
}
.carousel-inner {
  width: 100%;
}
.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.carousel-control {
  background: rgba(0, 0, 0, 0) !important;
  color: black;
  width: 1%;
  margin-top: 3%;
}

/*############            FOOTER            #################*/
.pie {
  background-color: #ebebeb;
  padding: 1em;
  text-align: right;
  color: black;
}
