/*############            HEADER            #################*/
/*Estilos propios*/
h1 {
  font-size: 100% !important;
}
.header1 {
  white-space: nowrap;
}
.header2 {
  width: 1.2em;
}
.header3 {
  vertical-align: middle;
}
.header4 {
  border-left: 1px solid rgb(187, 187, 187);
}
.header5 {
  color: rgb(118, 118, 118);
}
/*Estilos viejos*/
* {
  font-family: verdana, arial, geneva, helvetica, sans-serif !important;
}
* {
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  overflow: auto;
}

fieldset,
img {
  border: none;
}
ul,
li {
  list-style: none;
}
.ftl {
  float: left;
}
.ftr {
  float: right;
}
hr {
  display: none;
}

body {
  background: #ffffff;
  font-size: 68.75% !important;
  position: relative;
  margin: 0px;
  padding: 0px;
  text-align: center;
  height: 100%;
  width: 100%;
}

#contenedor {
  text-align: left;

  padding: 0em;
  width: 70%;
  align-content: center;
  margin-left: 15%;
}

#cabecera {
  margin: 0;
  padding: 0;
  position: relative;
  height: inherit;
  background-color: #ffffff;
}
#cabecera .central {
  background-color: #ebebeb;
}
.central-traducciones {
  background-color: #ebebeb;
  text-align: right;
}
.central-borde {
  height: 15px;
  background: none !important;
  background-color: #666666 !important;
}
.cabLogo {
  background: url("./assets/img/cab2.jpg") top left no-repeat;
  height: 10em;
}

.cabLogo img {
  margin: 0;
}

img {
  margin-right: 0.5em;
}

.margenContenidos {
  background-color: white;
  margin-top: 0;
  display: block;
}

.saltoContenido {
  padding-left: 0.5em;
  color: #5c6d8d;
}
.saltoContenido {
  color: white;
  font-size: 1.05em;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
.goog-te-gadget {
}
.goog-te-gadget-simple {
  background-color: #fff;
border-left: 1px solid #d5d5d5;
border-top: 1px solid #9b9b9b;
border-bottom: 1px solid #e8e8e8;
border-right: 1px solid #d5d5d5;
font-size: 10pt;
display: inline-block;
padding-top: 1px;
padding-bottom: 2px;
cursor: pointer;
}
.goog-te-gadget-icon {
}
.goog-te-menu-value {
}

/*MEDIA*/
@media only screen and (max-width: 967px) {
  .campoInformacion50 {
    width: 93%;
    padding-left: 4%;
  }

  .saltoContenido {
    display: none;
  }

  .anchopaso1 {
    width: 100%;
  }

  .campoLargo {
    box-sizing: border-box;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    height: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .campoLargoSolicitar {
    margin: 1em 7.5%;
  }

  .solExpA {
    display: none !important;
  }

  .solInvExpA {
    display: block !important;
  }

  .buscIntCamposLinea .explicacionCortaEnvioMensaje {
    display: none;
  }

  /*.cuadroBlanco62por, .cuadroBlanco62porMain{padding: 1em;display: block;margin: 1em 7.5%;width: 85%;box-sizing: border-box;}*/
  .cuadroBlanco62por,
  .cuadroBlanco62porMain {
    /* padding: 1em; */
    display: block;
    margin: 0 7.5% 1em 7.5%;
    width: 85%;
    box-sizing: border-box;
  }

  .cuadroBlanco98por,
  .cuadroBlanco98porMain {
    /* padding: 1em; */
    display: block;
    margin: 0 7.5% 1em 7.5%;
    width: 85%;
    box-sizing: border-box;
  }

  .btnContinuarFomulario input[type="submit"],
  .btnContinuarFomulario input[type="reset"] {
    float: none;
  }

  .msgExplicacionResumen {
    float: left;
    padding-left: 1.5em;
    padding-right: 1.5em;
    width: auto;
  }

  .explicacionCorta .explicacionCortaExplicacion {
    display: none;
  }

  .ui-datepicker-trigger {
    display: none !important;
  }

  .aclaracionFormatoFecha {
    display: inline !important;
  }

  .botoneraLEConsulta {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}

/*############            CENTRAL            #################*/

.separacion10em {
  width: 100%;
  height: 1em;
  clear: both;
}

.separacion7em {
  width: 100%;
  height: 0.7em;
  clear: both;
}

.separacion5em {
  width: 100%;
  height: 0.5em;
  clear: both;
}

.separacion1em {
  width: 100%;
  height: 1px;
  clear: both;
}

.buscIntCab {
  float: left;
  width: 100%;
  padding: 0.8em 0 0.8em 0;
  background-color: #7b91b0;
}
.buscIntCabTexto {
  margin-top: 0.2em;
  float: left;
  margin-bottom: 0.2em;
  margin-left: 0.45em;
  width: 81%;
  height: auto;
  margin: auto 0 auto 1em;
  letter-spacing: 0.1em;
  max-width: 430px;
}
.letraBlancaBold {
  font-weight: bold;
  color: #ffffff;
  background-color: transparent;
}
.buscIntCabTextoHelp {
  width: auto;
  margin: auto 0.5em;
  float: right;
}
.buscIntCamposEv2 {
  border-top: #ffffff 0.2em solid;
  float: left;
  width: 100%;
  border-bottom: #ffffff 0.3em solid;
}
.buscIntCamposEvPub {
  background: #ced7de no-repeat right 50%;
}
.buscIntCamposLinea {
  float: left;
  width: 100%;
  height: auto;
}
.cuadroBlanco98por {
  float: left;
  padding-left: 1em;
  margin-top: 1em;
  margin-left: 1em;
  height: auto;
  width: 98%;
  border: solid 1px #eeeeee;
}
.cuadroBlanco98por div {
  float: left;
}
.sinBorde {
  border: 0 !important;
}
.saltobr {
  height: 0.2em;
  display: block;
  clear: both;
  width: 100%;
  float: none !important;
}
.cuadroBlanco98porPaso2 {
  padding-bottom: 1.2em;
}
.campoNombre {
  padding-right: 0.5em;
  padding-left: 1.5em;
  float: left;
  padding-top: 0.9em;
  height: auto;
  width: 35%;
}
.campoNombre,
.campoApellidos {
  margin-left: 4%;
  margin-right: 1%;
}

.campoNombre label {
  display: block;
}
input[type="text"] {
  width: 85%;
  margin-bottom: 10px;
}

.buscIntCamposEvProvInput2 {
  margin-top: 0.2em;
  font-size: 1em;
  color: #000000;
}
.campoApellidos {
  padding-right: 0.5em;
  padding-left: 1.5em;
  float: left;
  padding-top: 0.9em;
  height: auto;
  width: 35%;
}
.buscIntCamposGral {
  float: left;
  width: 100%;
  height: auto;
  background-color: #ced7de;
}
.buscIntCamposBuscar {
  padding: 0.5em 1em 0.2em 0;
  float: right;
  width: 80%;
  height: auto;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
.buscIntCamposBuscar .botonSINimgen,
.centradoBotonesFin .botonSINimgen {
  float: right;
}
.botonSINimgen {
  border-top-width: 0px;
  margin-top: 5px;
  border-left-width: 0px;
  font-size: 1em;
  background-image: url("./assets/img/bot_n.gif");
  border-bottom-width: 0px;
  width: 86px !important;
  cursor: pointer !important;
  color: white;
  height: 21px;
  background-color: transparent;
  text-align: center;
  border-right-width: 0px;
  margin-right: 0.5em;
  padding-top: 2px;
  float: right;
  background-repeat: no-repeat;
}

.margin {
  margin-bottom: 1.2em;
}

/*############            CAROUSEL            #################*/

.margin-carouselSuperior {
  width: 40%;
  margin-left: 21%;
  margin-bottom: 50px;
  margin-top: -1%;
}

.small-box {
  flex: 0 0 24%;
  -ms-flex: 0 0 20%;
  margin: 0 1% 1em 0;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  margin-left: 5%;
  border: 7px solid #f3f3f3;
  padding: 1em;
}

.small-box .procedure-image img {
  width: 70px;
}

.procedure-link {
  max-width: 175px;
  color: #125d82 !important;
}
.link {
  color: #004488;
  font-weight: bold;
  font-size: 1.2em;
}

.carousel {
  margin-top: 2em;
  margin-bottom: 20px;
  line-height: 1;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.carousel-inner {
  overflow: hidden;
  width: 100%;
}
.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.carousel-control {
  background: rgba(0, 0, 0, 0) !important;
  color: black;
  width: 1%;
  margin-top: 3%;
}

/*############            FOOTER            #################*/
.pie {
  height: 30px;
  text-align: right;
  margin: 0;
  padding: 0;
}
.pie .central {
  background-color: #ebebeb;
  height: 30px;
  padding-top: 8px;
  box-sizing: border-box;
}
.marginright10 {
  margin-right: 10px;
}
.colorBlack{
  color:black !important;
}