.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*############            HEADER            #################*/
/*Estilos propios*/
.header1 {
  white-space: nowrap;
}
.header2 {
  background-image: url("https://translate.googleapis.com/translate_static/img/te_ctrl3.gif");
  background-position: -65px 0px;
}
.heaser3 {
  vertical-align: middle;
}
.header4 {
  border-left: 1px solid rgb(187, 187, 187);
}
.header5 {
  color: rgb(118, 118, 118);
}
/*Estilos viejos*/
* {font-family: verdana, arial, geneva, helvetica, sans-serif !important;}
* { padding:0px;margin:0px}

html{
	height:100%;
	overflow:auto;
}

fieldset, img {border:none;}
ul,li {list-style:none;}
.ftl {float:left;}
.ftr {float:right;}
hr {display:none;}

body {
	background : #ffffff;
	font-size : 68.75% !important;
	position: relative;
	margin: 0px;
	padding: 0px;
	text-align: center;
	height: 100%;
	width:100%;
}

#contenedor{
	text-align: left;
	width: 100%;
	padding: 0em;
}

#cabecera {
	margin: 0;
	padding: 0;
	position: relative;
	height: inherit;
	background-color:#ffffff;
}
#cabecera .central {
	background-color: #EBEBEB;
}
.central-traducciones{
	background-color: #EBEBEB;
	text-align:right;
}	
.central-borde {
	height: 15px;
	background: none !important;
	background-color: #666666 !important;
}
.cabLogo{
	background: url("../images/cab2.jpg") top left no-repeat;
	height: 10em;
}

.cabLogo img{
	margin: 0;
}

img{margin-right:0.5em}


.margenContenidos {
	background-color:white;
	margin-top: 0;
	display: block;
}


.saltoContenido {
	padding-left: 0.5EM;
	color: #5c6d8d;
}
.saltoContenido {
	color: white;
	font-size: 1.05em;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
} 
.goog-te-gadget{}
.goog-te-gadget-simple{}
.goog-te-gadget-icon{}
.goog-te-menu-value{}

/*MEDIA*/
@media only screen and (max-width:967px){

	.campoInformacion50{ width: 93%; PADDING-LEFT: 4%; }

	.saltoContenido {
		display: none;
	}
	
	.anchopaso1 { width: 100%}

	.campoLargo{ box-sizing: border-box; padding-top: 1.5em; padding-bottom: 0.5em; padding-left: 0.5em; padding-right: 0.5em; height: auto; width: 85%; margin-left: auto; margin-right: auto; }
	
	.campoLargoSolicitar {
	    margin: 1em 7.5%}
		
	.solExpA { display: none !important}
	
	.solInvExpA { display: block !important}
	
	.buscIntCamposLinea .explicacionCortaEnvioMensaje{display: none;}
	
	/*.cuadroBlanco62por, .cuadroBlanco62porMain{padding: 1em;display: block;margin: 1em 7.5%;width: 85%;box-sizing: border-box;}*/
	.cuadroBlanco62por, .cuadroBlanco62porMain{/* padding: 1em; */display: block;margin: 0 7.5% 1em 7.5%;width: 85%;box-sizing: border-box;}
	
	.cuadroBlanco98por, .cuadroBlanco98porMain{/* padding: 1em; */display: block;margin: 0 7.5% 1em 7.5%;width: 85%;box-sizing: border-box;}

	.btnContinuarFomulario input[type="submit"], .btnContinuarFomulario input[type="reset"]{ float: none}

	.msgExplicacionResumen{float: left; padding-left: 1.5em; padding-right: 1.5em; width: auto;}
	
	.explicacionCorta .explicacionCortaExplicacion{display: none;}
	
	.ui-datepicker-trigger{display: none !important;}
	
	.aclaracionFormatoFecha{display: inline !important;}
	
	.botoneraLEConsulta{display: flex; flex-wrap: wrap; flex-direction: row; justify-content: center;}

}

/*############            FOOTER            #################*/
.pie {
	height: 30px;
	text-align: right;
	margin: 0;
	padding: 0;
}
.pie .central {
	background-color: #EBEBEB;
	height: 30px;
	padding-top: 8px;
	box-sizing: border-box;
}
.marginright10 {
	margin-right:10px;
}
